@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Maven Pro', sans-serif ;
}
.ActiveDeactiveTogglerSwitch{
    margin: 5% 0 0 25%;
    width: 30px;
    height: 10px;
    background: #E5E9F2;
    border-radius: 30px;
}
.ActiveDeactiveToggler {
    width: 20px;
    height: 20px;
    margin-top: -5px;
    background-color: #ccc;
    border-radius: 50%;
    transition: 0.5s ease;
}
.ActiveDeactiveTogglerSwitch.active > .ActiveDeactiveToggler{
    background-color: #067bf0;
    opacity: 1;
    margin-left: 20px;
}
.ActiveDeactiveTogglerSwitch.active{
    background: #a4cdf5;
}

.SwitchActivity{
    margin-left: 28vh;
    margin-top: -3.7vh;
}
.ActiveDeactiveToggle{
    margin: 5% 0 0 25%;
    width: 45px;
    height: 16px;
    background: #E5E9F2;
    border-radius: 30px;
}
.ActiveDeactiveTogglecircle{
    width: 24px;
    height: 24px;
    background-color: #ccc;
    border-radius: 50%;
    position: relative;
    top: -21%;
    transition: 0.5s ease;
}
.ActiveDeactiveToggle.active > .ActiveDeactiveTogglecircle{
    background-color: #067bf0;
    opacity: 1;
    margin-left: 20px;
}
.ActiveDeactiveTogglecircle.active{
    background: #a4cdf5;
}

.inputText::placeholder{
    padding-left: 20px;
    font-size: 15px;
    font-family: 'Maven Pro', sans-serif ;
}
@media(min-width:1100px){
    .inputText::placeholder{
        font-size: 18px;
    }
}
input[type="file"] {
    display: none;
}
.MainBody{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}
.HeaderSection{
    margin: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0px 1px 0px rgba(196, 205, 213, 0.3);
}
.branding{
    margin: 15px 0 0 2em;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}
.Hamburger{
    position: absolute;
    top: 1.8%;
    cursor: pointer;
}
.hamburgerDesign{
    width: 29px;
    height: 3.5px;
    background-color: #000;
    margin: 4px;
    padding: 0;
}
.userPhotoInHeader{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: purple;
    float: right;
    margin: 10px 0 0 13em ;
}
@media(min-width:1100px){
    .Hamburger{
        display: none;
    }
    .branding{
        font-size: 22px;
        margin: 0 35vh 0 0;
    }
}
@media(min-width:1024px){
    .userPhotoInHeader{
        position: relative;
        left: 25%;
    }
    .Hamburger{
        margin-top:10px;
    }
    .branding{
        font-size: 3vw;
        margin-top: 2px;
    }
}

@media(min-width:768px){
    .branding{
        padding: 10px 0 0 1em;
    }
    .Hamburger{
        top: 2.2%;
        left: 2%;
    }
    .hamburgerDesign{
        width: 31px;
        height: 4px;
    }
    .userPhotoInHeader{
        width: 50px;
        height: 50px;
        margin: 12px 0 0 31em ;
    }
}


/*---- aside section ----*/
.asideSection{
    display: none;
    width: 0;
    height: 0;
}
.SelectedAsideElement{
    width: 220px;
    height: 40px;
    position: relative;
    padding-left: 20px;
    padding-top: 13px;
    left: -12%;
    cursor: pointer;
    list-style: none;
    background-color: #151C32;
    border-left: solid 6px blue;
}

@media(min-width:1100px){
    .asideSection{
        display: block;
        position: absolute;
        top: 0;
        width: 260px;
        height: 100%;
        background-color:#01081F;
        margin: 0;
        overflow-y: scroll;
    }
    .Notification{
        width: 15px;
        height:20px;
        border-radius: 50%;
        background: #2789E9;
        position: relative;
        left: 80%;
        margin-top: -2.5vh;
        color: #fff;
        padding-left: 5px;
    }
    .iconForCompanies{
        color: #ccc;
        position: relative;
        left: -16%;
        font-size:24px;
    }
    .asideSectionList > li {
        width: 200px;
        height: 35px;
        position: relative;
        padding-left: 8vh;
        padding-top: 14px;
        margin-top: 10px;
        left: -17%;
        cursor: pointer;
        list-style: none;
    }
    
    .asideBarBrandingTitle{
        padding: 10px;
        font-size: 2vw;
        color:#fff;
    }
    .asideBarBrandingsection{
        margin: -23px 0 0 0;
        width: 240px;
        height: 64px;
        box-shadow: 0px 1px 0px rgba(196, 205, 213, 0.3);
    }
    .Link{
        text-decoration: none;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #8391A7;
        position: relative;
        top: -0.5vh;
        margin: 0 0 0 -20px;
    }
}
/*----------*/


/*----- main section ----*/

.mainSection{
    width: 100%;
    height: 100vh;
    overflow-y:scroll;
    overflow-x: hidden;
    margin-top: 3vh;
}

.mainSectionDisplayOfCategory{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-items: right;
    margin: 0 0 0 20px;
}
.categoryTitleNav{
    font-size: 24px;
    margin-left: -10px;
    margin-bottom: 0;
    width: 100px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    color: #1C2C40;
}
.btnToAddNewCategory{
    position: relative;
    margin: 3vh 0 0 15vh;
    font-size: 14px;
    color: #fff;
    width: auto;
    height: 34px;
    background: #2789E9;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    padding: 10px 15px 10px 15px;
}
.innerMainSection{
    width: 80%;
    margin: 3em 0 0 1em;
    border-radius:8px ;
    padding: 20px;
    border: 1px solid #E8EAF6;
}
@media(min-width:768px){
    .innerMainSection{
        width: 90%;
        margin: 3em 0 0 1em;
        border: 1px solid #E8EAF6;
    }
    .btnToAddNewCategory{
        margin: 3vh 0 0 12vh;
        font-size: 18px;
        height: 44px;
        margin: 2vh 0 0 45vh;
    }
}
@media(min-width:1024px){
    .btnToAddNewCategory{
        margin: 5vh 0 0 67%;
        font-size: 19px;
        width: 200px;
        height: 44px;
    }
    .categoryTitleNav{
        margin: 5vh 0 0 -10px;
    }
}
@media(min-width:1100px){
    .innerMainSection{
        width: 95%;
        margin: 3em 0 0 0em;
    }
    .mainSection{
        width: 80%;
        height: 80%;
        position: absolute;
        left: 19%;
        top: 10%;
        overflow-x: hidden;
        overflow-y:scroll;
    }
    .btnToAddNewCategory{
        font-size: 14px;
        margin: 1vh 0 0 70%;
    }
}


/*----- sun navbar section ----- */
.subNavbarSection{
    width: 100%;
    height: 60px;
    margin: 1em 0 0 0 ;
    display: flex;
    justify-content: right;
}
.subNavHeaderText{
    display: none;
}
.inputText{
    height: 30px;
    border: 0px;
    border-radius: 8px;
    margin: 10px 0 0 10px;  
    background: #F1F2F6;
}
.cloudDownload{
    position: relative;
    font-size: 20px;
    margin: 20px 0 0 20px;
    float: right;
}
.Option1{
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    cursor: pointer;
    margin: 20px 0 0 20px;
    float: right;
}
.EachLineForOption1{
    background-color: #797575;
    width: 5px;
    height: 17px;
    margin: 0 1px 0 0;
}
.option3line{
    position: relative;
    font-size: 22px;
    margin: 17px 0 0 -7px;
    float: right;
}


/*--- responsivness ---*/
@media(min-width:768px){
    .subNavbarSection{
        margin:-10px 0 0 0 ;
    }
    .subNavHeaderText{
        display: block;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: #3C4858;
    }
    .inputText{
        width: 240px;
        height: 44px;
        margin: 0 0 0 30%;
    }
    .cloudDownload{
        font-size: 28px;
        margin: 12px 0 0 3%;
    }
    .Option1{
        margin: 15px 0 0 3%;
    }
    .EachLineForOption1{
        width: 6px;
        height: 19px;
    }
    .option3line{
        font-size: 27px;
        margin: 11px 0 0 0px;
    }
    ::placeholder{
        padding-left: 20px;
        font-size: 20px;
    }
}

@media(min-width:1024px){
    .inputText{
        width: 240px;
        height: 44px;
        margin: 0 0 0 50%;
    }
    .cloudDownload{
        margin: 12px 0 0 3%;
    }
    .Option1{
        margin: 15px 0 0 2.5%;
    }
    .option3line{
        margin: 11px 0 0 0px;
    }
}



.subNavAttributes{
    width: 100%;
    display: flex;
    font-size: 12px;
    position: relative;
    border-bottom: 1px solid #E8EAF6;
}

.subNavAttributes > p{
  padding-left: 20px;
}
.subNavattributesText{
    padding: 10px;
}
.subNavDescription{
    display: none;
}
.subNavTags{
    display: none;
}

@media(min-width:768px){
    .subNavAttributes{
        margin-left: 40px;
        font-size: 15px;
    }
    .subNavAttributes > p{
        padding-left: 10%;
    }
    
}
@media(min-width:1024px){
    .subNavAttributes{
        font-size: 17px;
    }
    .subNavAttributes > p{
        padding-left: 12.5%;
    }
}

@media(min-width:1100px){
    .subNavCategory{
        padding-left: 70px;
    }
    .subNavAttributes{
        left: -4%;
        font-size: 14px;
    }
    .subNavDescription{
        display: block;
    }
    .subNavTags{
        display: block;
    }
    .subNavProducts{
        margin-left: -2vh;
    }
    .subNavActiveDeactive{
        margin-left: -9vh;
    }
}

.sectionToDisplayCategoryList{
    width: 100%;
    margin: 0 0 0 -1em;
    height: 100%;
}
.categoryDataList{
    margin-left: -2em;
}
.categoryNameInList{
    list-style: none;
    margin: 30px 0 30px 0 ;
    border-top: 1px solid #E8EAF6;

}

.subCategoryHidden{
    display:none ;
    transition: 1s ease;
}
.OuterShell{
    display: flex;
}
.ListelementsDisplay{
    position: relative;
    left: 5%;
    top: 4%;
    display: flex;
}

.subCategoryNameInList{
    margin: 3vh 0 0 0 ;
    list-style: none;
}
.IMG{
    display: none;
}
.dragLogo{
    display: none;
}
.arrowIcon1{
    display: none;
}
.HideIt{
    display: none;
}
.categoryName{
    font-size: 12px;
    width: 100px;
    padding-left:20px ;
}
.descriptionForCategory{
    display: none;
}
.tagsForCategory{
    display: none;
}
.subCategoryOrProductsForCategory{
    font-size: 12px;
    padding-left: 4em;
}
.activedeactiveForCategory{
    font-size: 12px;
    padding-left: 9em;
}
.iconForDeleteandEdit{
    display: none;
}
@media(min-width:768px){
    .categoryName{
        font-size: 15px;
        padding-left: 18%;
    }
    .subCategoryOrProductsForCategory{
        font-size: 15px;
        padding-left: 25%;
    }
    .activedeactiveForCategory{
        font-size: 15px;
        padding-left: 30%;
    }
}
@media(min-width:768px){
    .IMG{
        display: block;
        width: 56px;
        height: 56px;
        background-color: deeppink;
        border-radius: 8px;
        margin: 10px 0 0 20px;
        padding: 0;
    }
    .dragLogo{
        height: 22px;
        display: block;
        margin: 25px 0 0 0;
        color: #ccc;
        cursor: move;
    }
    .arrowIcon1{
        margin: 30px 0 0 20px;
        color: #5A6679;
        display: block;
        cursor: pointer;
    }
    .arrowIcon2{
        margin: 30px 0 0 20px;
        color: #5A6679;
        display: none;
        cursor: pointer;
    }
    .categoryName{
        font-size: 16px;
        padding-left: 3%;
        margin-top: 20px;
    }
    .ActiveDeactiveTogglerSwitch{
        margin: 2% 0 0 25%;
        width: 45px;
        height: 15px;
    }
    
    .ActiveDeactiveToggler {
        width: 25px;
        height: 25px;
        margin-top: -5px;
    }
    .ActiveDeactiveTogglerSwitch.active > .ActiveDeactiveToggler{
        margin-left: 20px;
    }
    .subCategoryOrProductsForCategory{
        font-size: 16px;
        padding-left: 20%;
    }
    .iconForDeleteandEdit{
        display: block;
        position: relative;
        left: 12%;
        margin-top: 17px;
        padding-left: 0;
        font-size:25px ;
    }
}


@media(min-width:1024px){
    .IMG{
        display: block;
        width: 56px;
        height: 56px;
        background-color: deeppink;
        border-radius: 8px;
        margin: 10px 0 0 30px;
        padding: 0;
    }
    .dragLogo{
        height: 22px;
        display: block;
        margin: 25px 0 0 0;
        color: #ccc;
    }
    .arrowIcon1{
        margin: 30px 0 0 20px;
        color: #5A6679;
        display: block;
        cursor: pointer;
    }
    .arrowIcon2{
        margin: 30px 0 0 20px;
        color: #5A6679;
        display: none;
        cursor: pointer;
    }
    .categoryName{
        font-size: 15px;
        padding-left: 4%;
        margin-top: 20px;
    }
    .ActiveDeactiveTogglerSwitch{
        margin: 2% 0 0 32%;
        width: 45px;
        height: 15px;
    }
    
    .ActiveDeactiveToggler {
        width: 25px;
        height: 25px;
        margin-top: -5px;
    }
    .ActiveDeactiveTogglerSwitch.active > .ActiveDeactiveToggler{
        margin-left: 20px;
    }
    .iconForDeleteandEdit{
        display: block;
        position: relative;
        left: 13%;
        margin-top: 17px;
        padding-left: 0;
        font-size:25px ;
    }
}

@media(min-width:1100px){
    .descriptionForCategory{
        font-size: 14px;
        display: block;
        position: relative;
        left: -2%;
        width: 200px;
        margin-top: 30px;
        white-space: -moz-pre-wrap !important;
        white-space: -webkit-pre-wrap;          
        white-space: -pre-wrap;                 
        white-space: -o-pre-wrap;               
        white-space: pre-wrap;                  
        word-wrap: break-word;                  
        word-break: break-all;
        white-space: normal;
    }
    p.tagsForCategory{
        font-size: 14px;
        display: block;
        position: relative;
        left: 2%;
        width: 200px;
        margin-top: 30px;
        white-space: -moz-pre-wrap !important;
        white-space: -webkit-pre-wrap;          
        white-space: -pre-wrap;                 
        white-space: -o-pre-wrap;               
        white-space: pre-wrap;                  
        word-wrap: break-word;                  
        word-break: break-all;
        white-space: normal;
    }
    .IMG{
        display: block;
        width: 56px;
        height: 56px;
        background-color: deeppink;
        border-radius: 8px;
        margin: 10px 0 0 20px;
        padding: 0;
    }
    .dragLogo{
        height: 22px;
        display: block;
        margin: 25px 0 0 0;
        color: #ccc;
    }
    .arrowIcon1{
        position: relative;
        left: 0%;
        color: #5A6679;
        display: block;
        cursor: pointer;
    }
    .arrowIcon2{
        position: relative;
        left: 0%;
        color: #5A6679;
        display: none;
        cursor: pointer;
    }
    .categoryName{
        font-size: 14px;
        position: relative;
        left: -10.7%;
        margin: 30px 0 0 0;
        float: right;
    }
    .subCategoryOrProductsForCategory{
        font-size: 12px;
        position: relative;
        left:-7%;
        margin-top: 30px;
    }
    .ActiveDeactiveTogglerSwitch{
        margin: 5% 0 0 0;
        width: 45px;
        height: 15px;
        position: relative;
        left: 12%;
    }
    .ActiveDeactiveToggler {
        width: 25px;
        height: 25px;
        margin-top: -5px;
    }
    .ActiveDeactiveTogglerSwitch.active > .ActiveDeactiveToggler{
        margin-left: 20px;
    }
    .hidden{
        margin-left: 0vh;
    }
    .iconForDeleteandEdit{
        display: block;
        position: absolute;
        left: 95%;
        margin-top: 30px;
        font-size:25px ;
        cursor: pointer;
    }
    .iconForDeleteandEditinSubCategory{
        display: block;
        position: relative;
        left: 21.7%;
        margin-top: 30px;
        padding-left: 0;
        font-size:25px ;
        cursor: pointer;
    }
    .SectionForDirectDeleteAndEdit{
        display: none;
        width: 100px;
        height: 60px;
        background-color: #fff;
        position: relative;
        top: 0;
        left: 5%;
        margin: 0;
        padding-left: 20px;
        padding-bottom: 20px;
        box-shadow: 0 0 20px #ccc;
    }
    .SectionForDirectDeleteAndEdit > p:hover{
        cursor: pointer;
        color: rgb(92, 91, 91);
    }
    
}













/* ------ hidden section ----- */
.HiddenAddNewCategory{
    display: none;
    width: 100%;
    height: 100vh;
    
}
.HeaderSection{
    z-index: 1;
    display: flex;
    width: 100%;
    height: 70px;
    overflow: hidden;
}
.BackArrow{
    font-size: 22px;
    margin: 30px 0 0 10px;
    cursor: pointer;
}
.headerText{
    margin: 30px 0 0 20px;
}

.Savebtn{
    position: relative;
    left: 10%;
    margin: 3vh 0 0 10vh;
    font-size: 18px;
    color: #fff;
    width: 96px;
    height: 44px;
    background: #2789E9;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.EditOptionOfAddCategory{
    font-size: 25px;
    margin: 2vh 0 0 18vh;
}

@media(min-width:768px){
    .Savebtn{
        margin: 1.1vh 0 0 55%;
    }  
}
@media(min-width:1024px){
    .Savebtn{
        margin: 1.1vh 0 0 65%;
    }  
}



.FormFillingSection{
    width: 80%;
    height: 100vh;
    overflow-y:scroll ;
    overflow-x: hidden;
}

.formForCategory{
    margin: 0 0 0 0 ;
}
.rightAsideSection{
    overflow: hidden;
    display: none;
}

@media(min-width:768px){
    .rightAsideSection{
        display: block;
        position: fixed;
        width: 420px;
        height: 1310px;
        left: 520px;
        top: 72px;  
        background: #FFFFFF;
        box-shadow: -1px 0px 0px rgba(196, 205, 213, 0.3);
    } 
    #sectionForContent{
        width: 312px;
        height: 70px;
        margin: 4vh 0 2vh 2vh ;
        border-bottom: 1px solid #E5E9F2;
    }
    .Text1{
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #1C2C40;
        margin: 0;
        padding: 0;
    }
    .Text2{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #5A6679;
        padding: 0;
        margin: 0;
    }
    
}

@media(min-width:1024px){
    .FormFillingSection{
        height: 150vh;
    }
    .Savebtn{
        margin: 1.1vh 0 0 65%;
    }
    .HeaderSection{
        position: fixed;
        top: 0;
        background-color: #ffffff;
    }
    .rightAsideSection{
        left: 720px;
    }
    
}

@media(min-width:1100px){
    .FormFillingSection{
        height:200vh;
        margin: 12vh 0 0 2vh;
    }
    .HeaderSection{
        position: fixed;
        top: 0;
        background-color: #ffffff;
    }
    .rightAsideSection{
        left: 1020px;
    }
    #sectionForContent{
        margin: 4vh 0 2vh 5vh ;
    }
}


.labelforCategory{
    font-size: 16px;
    color: #5A6679;
    margin: 0 0 0 20px;
    padding-bottom: 20px;
}
.categoryInput{
    width: 320px;
    height: 40px;
    margin: 15px 0 30px 20px;
    background: #FFFFFF;
    border: 1px solid #E5E9F2;
    box-sizing: border-box;
    border-radius: 8px;
}


.labelforDescription{
    font-size: 16px;
    color: #5A6679;
    margin: 0 0 0 16px;
    padding-bottom: 20px;
}
.descriptionInput{
    width: 320px;
    height: 80px;
    margin: 16px 0 30px 20px;
    background: #FFFFFF;
    border: 1px solid #E5E9F2;
    box-sizing: border-box;
    border-radius: 8px;
}



.labelForTag{
    font-size: 16px;
    color: #3C4858;
    margin: 20px 0 0 16px;
    padding-bottom: 20px;
}
.tagsInput{
    width: 320px;
    height: 40px;
    margin: 15px 0 0 20px;
    background: #FFFFFF;
    border: 1px solid #E5E9F2;
    box-sizing: border-box;
    border-radius: 8px;
}
.noticeForTagsInput{
    margin: 0px 0 30px 20px;
    font-size: 14px;
    line-height: 18px;
    color: #5A6679;
}



.parentCategoryLabel{
    font-size: 16px;
    color: #3C4858;
    margin: 20px 0 0 16px;
    padding-bottom: 20px;
}
.parentCategory{
    width: 320px;
    height: 40px;
    margin: 15px 0 30px 20px;
    border: 1px solid #E5E9F2;
    box-sizing: border-box;
    border-radius: 8px;
}


.featuredLabel{
    font-size: 16px;
    color: #3C4858;
    margin: 20px 0 0 16px;
    padding-bottom: 10px;
}
.FeaturedSection{
    display: flex;
    padding-left: 15px;
    margin: 0 0 30px 0;
}
.addNewPhoto{
    font-size: 14px;
    line-height: 20px;
    margin-top: 15px;
    color: #2789E9;
    cursor: pointer;
}
.Clip{
    font-size:20px ;
    color: #2789E9;
    margin: 1.7vh 0 0 5vh;
}
.addExistingFile{
    font-size: 14px;
    line-height: 20px;
    color: #2789E9;
    padding-left: 10px;
    z-index: -1;
}


.photos{
    font-size: 16px;
    color: #3C4858;
    margin: 20px 0 0 16px;
    padding-bottom: 10px;
}
.photosSection{
    display: flex;
    padding-left: 15px;
    margin: 0 0 30px 0;
}



.weightLabel{
    font-size: 16px;
    color: #3C4858;
    margin: 20px 0 0 16px;
    padding-bottom: 10px;
}
.weightSelectOption{
    width: 320px;
    height: 40px;
    margin: 15px 0 30px 20px;
    border: 1px solid #E5E9F2;
    box-sizing: border-box;
    border-radius: 8px;
}


.LabelForTypeofContainer{
    font-size: 16px;
    color: #3C4858;
    margin: 20px 0 0 16px;
    padding-bottom: 10px;
}
.sectionForRadioOperation{
    display: flex;
}
.containerType{
    margin: 20px 0 0 20px;
    width: 20px;
    height: 20px;
}
.labelForOption{
    padding: 0 0 0 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1C2C40;
}


.allowProductslabel{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1C2C40;
    padding: 0 0 0 20px;
    margin: 0;
}
.noticeForAllowProducts{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #5A6679;
    padding: 0 0 30px 20px;
    margin: 0;
}


.labelForImageDescription{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #5A6679;
    padding: 0 0 0 20px;
}
.imageDescription{
    width: 320px;
    height: 40px;
    margin: 5px 0 40px 20px;
    border: 1px solid #E5E9F2;
    box-sizing: border-box;
    border-radius: 8px;
}


.labelForModeOfTransaction{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #5A6679;
    padding: 0 0 0 20px;
}
.sectionForRadioOperationModesofTransaction{
    margin: -13px 0 30px 0;
}
.transactionModeRadioLabelsection{
    display: flex;
}


.labelForQuality{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #5A6679;
    padding: 0 0 0 20px;
}
.qualityAddFile{
    font-size: 14px;
    line-height: 20px;
    color: #2789E9;
    width: 100px;
    cursor: pointer;
    margin: 4px 0 0 20px;
}
.addQualitySection{
    display: flex;
}
.addNewQuality{
    display: none;
    margin: 10px 0 0 20px;
    width: 320px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E5E9F2;
    box-sizing: border-box;
    border-radius: 8px;
    transition: 0.5s ease;
}
.addNewQualityBtn{
    display: none;
    font-size: 14px;
    color: #fff;
    width: 85px;
    height: 39px;
    background: #2789E9;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 10px 0 0 10px;
}
.addQualityList > li {
    list-style: none;
    margin-bottom: 10px;
    overflow: scroll;
}
.eachSectionOfQuality{
    display: flex;
    width: 330px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #d4d4d6;
    border-radius: 8px;
}
.Quality{
    width: 100px;
    margin: 10px 0 0 8px;
}
.Image{
    margin: 10px 0 0 3px;
    width: 20px;
    height: 20px;
    cursor: move;
}
.iconForDeleteQuality{
    font-size: 22px;
    position: relative;
    left: 52.3%;
    margin-top: 8px;
    cursor: pointer;
}


.SavebtnForFooter{
    position: relative;
    margin: 6vh 0 10px 3vh;
    font-size: 18px;
    color: #fff;
    width: 320px;
    height: 44px;
    background: #2789E9;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    justify-self: right;
}